# CORE CONFIG
SECRET_KEY=your-super-secret-key-change-me
SITE_URL=https://your-railway-domain.railway.app
DB_HOST=localhost
DB_NAME=occashare
DB_USER=postgres
DB_PASSWORD=2004
DB_PORT=5432

# EMAIL CONFIGURATION
MAIL_USERNAME=occaserveplatform@gmail.com
MAIL_PASSWORD=ohjs pifr rzfe ekbx
MAIL_FROM=occaserveplatform@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=True
MAIL_SSL=False

# SOCIAL LOGIN CONFIGURATION
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
